<% @crimes.each do |crime| %>
  <a href="javascript:;"
     id="<%= crime.id %>"
     onclick="plotCrime(<%= crime.latitude %>, <%= crime.longitude %>, '<%= crime.primary %> - <%= crime.description %>', '<%= crime.block %> (<%= crime.location %>)', '<%= crime.date.asctime %>', <%= crime.id %>);"
     class="list-group-item">
    <h4><%= crime.primary %> - <%= crime.description %></h4>
    <p><%= crime.block %> (<%= crime.location %>)</p>
    <p><%= crime.date.asctime %></p>
  </a>
<% end %>
